@import "tailwindcss";
@keyframes cardFloat {
  0% {
    transform: translateY(0px) rotateY(-14deg) rotateX(10deg);
  }
  100% {
    transform: translateY(-16px) rotateY(-10deg) rotateX(6deg);
  }
}

@keyframes floatTag {
  0% {
    transform: translate3d(0, 0, 60px);
    opacity: 0.9;
  }
  100% {
    transform: translate3d(10px, -12px, 70px);
    opacity: 1;
  }
}
